In [12]:
a = 15
b = float(a)
c = str(a)
print("Variabels: " ,a,b,c, "Type: ", type(a), type(b), type(c))
print("Variabel: " ,a, type(a), b, type(b), c, type(c))

Variabels:  15 15.0 15 Type:  <class 'int'> <class 'float'> <class 'str'>
Variabel:  15 <class 'int'> 15.0 <class 'float'> 15 <class 'str'>

In [11]:
b = "9253"  
int_b = int(b)    # converting from string to int

float_b = float(b)  # converting from string to float
print('Conversion str {}, to int {}, float {} ' .format(b, int_b, float_b))

Conversion str 9253, to int 9253, float 9253.0

In [3]:
bool(0+10)

True

In [4]:
bool(0.0 + 0.0)

False

In [5]:
a = 7   # a points to the object 7, hence same id
id(a)
    
b = a
id(b)
print("id(a) =", id(a), "\nid(b) =", id(b))

print("id after b = b+11")
b = b+11 
id(b)
print("id(a) =", id(a), "\nid(b) =", id(b))

id(a) = 1697082624
id(b) = 1697082624
id after b = b+11
id(a) = 1697082624
id(b) = 1697082976

In [6]:
w = "87t"
type(w)

str

In [8]:
z = float(w)  # cannot convert as it got character in the string
type(z)

ValueError: could not convert string to float: '87t'

In [10]:
try:
    float(w)
except ValueError:
    print("Not a float" )

Not a float